<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="g2.mapper.java.UnitMapper">

  <!-- 类与数据库匹配 -->
  <resultMap type="Unit" id="ResultList">
    <id column="id" property="id"/>
    <result column="type" property="type"/>
    <result column="account" property="account"/>
    <result column="password" property="password"/>
    <result column="pnum" property="pnum"/>
  </resultMap>
  <!-- 查询操作 -->
  <select id="get" resultMap="ResultList">
    SELECT * FROM Unit
    <where>
      <if test="id!=null and '' neq id">
        and id = #{id}
      </if>
      <if test="type!=null and '' neq type">
        and type = #{type}
      </if>
    </where>
  </select>

  <!-- 根据id删除 -->
  <delete id="delete">
  	DELETE FROM Unit where id = #{id}
  </delete>

  <!-- 根据id增加 -->
  <update id="update">
  	UPDATE Unit set id=#{id},type=#{type},account=#{account},
  		password=#{password},pnum=#{pnum} WHERE id=#{id}
  </update>
  <!-- 添加信息 -->
  <insert id="add">
		INSERT INTO Unit(id,type,account,password,pnum)
	Values(#{id},#{type},#{account},#{password},#{pnum})
	</insert>
</mapper>